<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">

	<!--  任务调度开始  -->
	<!--  要调度的类   -->
 	<bean id="taskQuarz" class="luu.makehtml.RunMain_WX5656" init-method="initTime"/>
 	
    <!-- 定义定时执行CALLMAIN这个bean中的call_me60()方法 -->  
    <bean id="callQuarz" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">  
     	<property name="targetObject">  
           <ref bean="taskQuarz" />  
		</property>  
        <property name="targetMethod">  
            <value>runMain</value>  
     	</property>  
    </bean>  
    
    <!-- 触发器的bean的设置,设置了我们要触发的jobDetail为call_me60,这里我们定义了要触发的jobDetail是call_me60方法  -->  
    <bean id="trigger" class="org.springframework.scheduling.quartz.CronTriggerBean">  
       <property name="jobDetail">  
            <ref bean="callQuarz"/>  
       </property>
       <property name="cronExpression">  
            <value>0 30 8 * * ?</value><!-- 关键在配置此表达式 -->  
       </property>  
    </bean>  
    
    <!-- 管理触发器的总设置,管理我们的触发器列表,可以在bean的list中放置多个触发器 -->  
    <bean id="schedulerFactoryBean" autowire="no" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">  
        <property name="triggers">  
            <list>
               <ref local="trigger"/>
           </list>
       </property>  
    </bean>  
    <!-- 任务调度结束 -->
	
</beans>